
  .mainCard {
    position: absolute;
    background-color:rgb(192,192,192,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    border-radius: 20px;
    width: auto;
  }

  #particles-js {
    background-color:#212529;
    height: 100%;
    width: 100%;
  
  }
  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    width: 400px;
  }

  h4, label{
    color:#F0FFFF;
  }


.card{
  border-radius: 20px;
  background-color: transparent;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


  html{
    height: 100%;
}



/* ----------------------------------------------- */