<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<!--<form method="post" action="">-->

        <div class="container">
        <div class="row">
            <div class="span12">
                <form class="form-horizontal" action='' method="POST">
                    {% csrf_token %}
                  <fieldset>
                    <div id="legend">
                      <legend class="">Login</legend>
                    </div>
                    <div class="control-group">
                      <!-- Username -->
                      <label class="control-label"  for="username">Username</label>
                      <div class="controls">
                        <input type="email" id="username" name="email" placeholder="" class="input-xlarge">
                      </div>
                    </div>
                    <div class="control-group">
                      <!-- Password-->
                      <label class="control-label" for="password">Password</label>
                      <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                      </div>
                    </div>
                    <div class="control-group">
                      <!-- Button -->
                      <div class="controls">
                        <button type="submit" class="btn btn-success">Login</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
            </div>
        </div>
    </div>
<!--</form>-->
<!--<form method="post">-->
    <!--{% csrf_token %}-->
    <!--<input type="email" name="email" placeholder="email">-->
    <!--<input type="password" name="password" placeholder="password">-->
    <!--<button type="submit">submit</button>-->
<!--</form>-->
</body>
</html>